.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #1abc9c;
  }
  
  .masthead-avatar {
    width: 200px;
  }
  
  .masthead-heading {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .masthead-subheading {
    font-size: 1.25rem;
    font-weight: 300;
  }
  